<div class="content clearfix">

	<!-- Full Width Slider Section -->
	<div class="section-block featured-media page-intro tm-slider-parallax-container">
		<div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140">
			<ul class="tms-slides">
				<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.3">
					<div class="tms-content">
						<div class="tms-content-inner center">
							<div class="row flex">
								<div class="column width-6 offset-3">
									<div>
										<h1 class="tms-caption mb-0 color-white"
											data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
											data-no-scale>
											Welcome To the Destiny 2 API Overview
										</h1>
										<div class="clear"></div>
										<p class="tms-caption lead mb-0 mb-mobile-20 color-white opacity-07"
										   data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;"
										   data-no-scale>Let's look at your stats</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<img data-src="/images/slider/slide-3-fw-short.jpg" data-retina src="images/blank.png" alt="" />
				</li>
			</ul>
		</div>
	</div>
	<!-- Full Width Slider Section -->
	<!-- Service Section -->
	<div class="section-block replicable-content">
		<div class="row">
			<div class="column width-3">
				<h3 class="mb-50">General Statistics</h3>
			</div>
			<div class="column width-8 offset-1">
				<div class="row">
					<div class="column width-12">
						<p class="lead mb-50">Here's some pretty general facts @ViewData["pp"]about your time in Destiny!</p>
					</div>
				</div>
				<div class="row flex">
					<div class="column width-6">
						<h6 class="mb-30 weight-bold text-uppercase">Play Time</h6>
						<p class="mb-50">You've spent a grand total of <span class="mb-30 weight-bold text-uppercase">@ViewData["pt"]</span> hours playing Destiny 2! That's not very healthy.</p>
					</div>
					<div class="column width-6">
						<h6 class="mb-30 weight-bold text-uppercase">Light Level</h6>
						<p class="mb-50">You've worked your way towards a light level of <span class="mb-30 weight-bold text-uppercase">@ViewData["wll"]!</span> Someone does their pinnacles.</p>
					</div>
					<div class="column width-6">
						<h6 class="mb-30 weight-bold text-uppercase">Last Session</h6>
						<p>You last fed your addiction to Destiny on <span class="mb-30 weight-bold text-uppercase">@ViewData["lastplayed"].</span> Seriously, touch grass.</p>
					</div>
					<div class="column width-6">
						<h6 class="mb-30 weight-bold text-uppercase">Emblems</h6>
						>
						<img src="@ViewData["warlockemblembkg"]">
						<img src="@ViewData["hunteremblembkg"]">
						<img src="@ViewData["titanemblembkg"]"> <p>My My. What Exquisite Taste.</p>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Service Section End -->
	<!-- Team Grid -->
	<div class="section-block team-2 pt-0 bkg-white">
		<div class="row">
			<div class="column width-12">
				<div class="row content-grid-3">
					<div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.3">
						<div class="thumbnail rounded no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							<img src="@ViewData["warlockemblem"]" width="400" height="300" alt="" />
						</div>
						<div class="team-content-info center">
							<h4 class="mb-5">Warlock</h4>
							<h4 class="occupation">@ViewData["wll"]</h4>
							<p> Played for @ViewData["wlpt"] hours.</p>
							<ul class="social-list list-horizontal">
								<li><a href="#"><span class="icon-facebook small"></span></a></li>
								<li><a href="#"><span class="icon-twitter small"></span></a></li>
								<li><a href="#"><span class="icon-dribbble small"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:300ms;" data-threshold="0.3">
						<div class="thumbnail rounded no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							<img src="@ViewData["hunteremblem"]" width="400" height="300" />
						</div>
						<div class="team-content-info center">
							<h4 class="mb-5">Hunter</h4>
							<h4 class="occupation">@ViewData["hll"]</h4>
							<p>Played for @ViewData["hpt"] hours.</p>
							<ul class="social-list list-horizontal">
								<li><a href="#"><span class="icon-facebook small"></span></a></li>
								<li><a href="#"><span class="icon-twitter small"></span></a></li>
								<li><a href="#"><span class="icon-github small"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="grid-item horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;" data-threshold="0.3">
						<div class="thumbnail rounded no-margin-bottom" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
							<img style="position: center" src="@ViewData["titanemblem"]" width="400" height="300" alt="" />
						</div>
						<div class="team-content-info center">
							<h4 class="mb-5">Titan</h4>
							<h4 class="occupation">@ViewData["tll"]</h4>
							<p>Played for @ViewData["tpt"] hours.</p>
							<ul class="social-list list-horizontal">
								<li><a href="#"><span class="icon-facebook small"></span></a></li>
								<li><a href="#"><span class="icon-behance small"></span></a></li>
								<li><a href="#"><span class="icon-dribbble small"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Team Grid End -->
	<!-- Hero 5 Section -->
	<div class="section-block hero-5 hero-5-2 clear-height show-media-column-on-mobile bkg-ash">
		<div class="media-column width-6"></div>
		<div class="row">
			<div class="column width-5 push-7">
				<div class="hero-content split-hero-content">
					<div class="hero-content-inner left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="0.5">
						<p class="lead color-white">You've died @ViewData["deaths"] times!</p>
						<p class="color-grey-light"><button id="equip-button">Equip Aurvandil</button></p>
						<p class="color-grey-light">Authorized Status: @ViewData["johnnypork"]</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero 5 Section End -->
	<!-- Custom Call to Action Section -->
	<div class="section-block pt-40 pb-40">
		<div class="row flex">
			<div class="column width-8 left horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:0;" data-threshold="1">
				<p class="lead mb-0 mb-mobile-20">Find out everything you need to know in our weekly live webinar. Interviews with creators to discover stories behind our products.</p>
			</div>
			<div class="column width-4 v-align-middle horizon right left-on-mobile " data-animate-in="preset:slideInRightShort;duration:1000ms;delay:300;" data-threshold="1">
				<div>
					<a href="https://player.vimeo.com/video/118640180?autoplay=1" class="button rounded medium no-margins bkg-theme bkg-hover-theme color-white color-hover-white mb-0 lightbox-link"><span class="icon-play left"></span> Play Our Demo</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Custom  Call to Action Section End -->

</div>